<!-- Inherit from "_base.html" -->
{% extends "_base.html" %}

<!-- Surcharge block "header_javascripts" of "_base.html" -->
{% block header_javascripts %}
{% endblock %}

<!-- Surcharge block "content" of "_base.html" -->
{% block content %}

	<div>
		<ul>
			<li>WORK IN PROGRESS</li>
			<li><a href="https://github.com/cognitivefactory/interactive-clustering/blob/main/README.md">interactive-clustering/README.md</a></li>
			<li><a href="https://github.com/cognitivefactory/interactive-clustering-gui/blob/main/README.md">interactive-clustering-gui/README.md</a></li>
		</ul>
	</div>

{% endblock %}