<!-- Inherit from "_base.html" -->
{% extends "_base.html" %}

<!-- Surcharge block "header_javascripts" of "_base.html" -->
{% block header_javascripts %}
{% endblock %}

<!-- Surcharge block "content" of "_base.html" -->
{% block content %}

	<div>
		<ul>
			<li>/!\ WORK IN PROGRESS /!\</li>
			<li>Docs of <a href="https://cognitivefactory.github.io/interactive-clustering/">cognitivefactory-interactive-clustering</a></li>
			<li>Docs of <a href="https://cognitivefactory.github.io/interactive-clustering-gui/">cognitivefactory-interactive-clustering-gui</a></li>
		</ul>
	</div>

{% endblock %}